* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
    background-color: #1c1c1c !important;
  }

  h1 {
    font-size: 2em; /* or another size value */
    font-weight: bold !important;
  }
  
  h2 {
    font-size: 1.5em; /* or another size value */
    font-weight: bold !important;
  }
  
  h3 {
    font-size: 1.17em; /* or another size value */
    font-weight: bold !important;
  }
  
  h4 {
    font-size: 1em; /* or another size value */
    font-weight: bold !important;
  }
  
  h5 {
    font-size: 0.83em; /* or another size value */
    font-weight: bold !important;
  }
  
  h6 {
    font-size: 0.67em; /* or another size value */
    font-weight: bold !important;
  }
  
  
  .customer-main {
    height: 90vh;
    width: 100%;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  /* Player Section */
  .customer-player {
    position: relative;
    min-height: 670px;
    width: 49%;
    background-color: #23242a;
    border-radius: 20px;
  }
  .p-heading {
    position: absolute;
    color: lightgrey;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.7rem;
    font-weight: 500;
  }
  .player-thumbnail {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 80px;
    right: 40%;
    overflow: hidden;
    border: white 2px double;
    border-radius: 5px;
  }
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .icons{
    position: absolute;
    top: 100px;
    height: 210px;
    width: 50px;
    left: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .icon{
    height: 50px;
    width: 50px;
    background-color: lightgrey;
    border-radius: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .like-btn{
    opacity: 0.7;
  }
  .like-icon:hover .like-btn{
    opacity: 1;
    color: black;
  }
  .fa-play{
    opacity: 0.7;
  }
  .play-icon:hover .fa-play{
    opacity: 1;
    color: black;
  }
  .tip{
    height: 30px;
    width: 21px;
    overflow: hidden;
  }
  .tip-jar{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tip-icon:hover .tip{
    opacity: 1;
    filter: sepia(300%) hue-rotate(180deg) saturate(450%) brightness(0);
  }
  .p-title-box {
    position: absolute;
    width: 90%;
    min-width: 90%;
    height: auto;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .songtitle h3{
    display: inline;
  }
  .songtitle h5{
    display: inline;
    font-weight: 400;
  }
  .songdetail{
    font-weight: 200;
  }
  .songbox1 h4{
    display: inline;
  }
  .songbox1 h5{
    display: inline;
    font-weight: 200;
  }
  .box1icon{
    display: inline;
  }
  .songbox2 h4{
    display: inline;
  }
  .songbox2 h5{
    display: inline;
    font-weight: 200;
  }
  .box2icon{
    display: inline;
  }
  .player-queue {
    position: absolute;
    width: 100%;
    max-height: 150px;
    border-top: 1px solid whitesmoke;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 600;
  }
  .p-queue-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .heading {
    height: 40px;
    width: 100%;
    text-align: center;
  }
  .song-queue {
    width: 90%;
    height: 70px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .song-img {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
  }
  .song-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-title-queue{
    padding-left: 2rem;
  }
  .song-queue:hover {
    background-color: whitesmoke;
    color: black;
  }
  .songtitle-queue h3{
    display: inline;
  }
  .songtitle-queue h5{
    display: inline;
    font-weight: 400;
  }
  .songdetail-queue{
    font-weight: 200;
  }
  /* List Section */
  .list {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 670px;
    width: 49%;
    background-color: #23242a;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .list-bar {
    position: absolute;
    height: 70px;
    width: 100%;
    top: 0;
    background-color: #303030;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 15px !important;
    left: 20px;
    border: white 1px solid;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
  }
  .dropdown option {
    background-color: #fff;
    color: #555;
    border-radius: 10px;
  }
  .search-container {
    position: absolute;
    right: 20px;
    top: 15px !important;
    z-index: 1;
    border: white 1px solid;
    border-radius: 20px;
  }
  .search-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100px;
  }
  .search-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: -100px;
    background-color: grey;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .search-bar input[type="text"] {
    width: 100%;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .search-bar .search-submit {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
  }
  .search-container:hover .search-bar {
    display: block;
  }
  .search-bar .search-submit:hover {
    background-color: black;
    opacity: 0.5;
  }
  .song-list-main {
    position: absolute;
    width: 100%;
    max-height: 600px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .song-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .song-list-main::-webkit-scrollbar {
    width: 10px;
  }
  .song-list-main::-webkit-scrollbar-track {
    background-color: black;
  }
  .song-list-main::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
  }
  .song-list-main::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
  }
  .song-listed {
    width: 90%;
    height: 70px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .song-img-list {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
  }
  .song-image-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-listed:hover {
    background-color: whitesmoke;
    color: black;
  }
  .active {
    background-color: whitesmoke;
    color: black;
  }
  .song-title-list{
    padding-left: 2rem;
  }
  .songtitle-list h3{
    display: inline;
  }
  .songtitle-list h5{
    display: inline;
    font-weight: 400;
  }
  .songdetail-list{
    font-weight: 200;
  }




  /* Alert BOX */

  .alert-box {
    display: none;
    margin: 0 auto;
    width: 20rem;
    position: relative;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    z-index: 9999;
  }
  
  .green {
    background-color: #DFF2BF;
    border-color: #B2D3C2;
    color: #4F8A10;
  }
  
  .alert-box p {
    margin: 0;
    /* padding-right: 30px; */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    color: #4F8A10;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }



  /* Popup */
/* #mainButton{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #606060;
  cursor: pointer;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  right: 0px;
  top: 182px;
  z-index: 998;
}
.fa-arrow-down{
  color: #1c1c1c;
  rotate: 90deg;
}


#mainButton:hover .fa-arrow-down{
  color: black;
} */
#nowPlayingPopup {
  position: fixed;
  top: 140px;
  right: -350px;
  background-color: #444;
  padding: 10px;
  border-radius: 20px;
  width: 350px;
  height: 200px;
  display: block;
  z-index: 999;
  transition: 0.3s ease-in-out;
}
.right-position-popup{
  right: 0px;
  transition: 0.3s ease-in-out;
}
#closeButton{
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  font-weight: 800;
  cursor: pointer;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nowplaying-pop-up-green{
  position: absolute;
  width: 300px;
  height: 80px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 40px;
  font-size: 16px;
  padding: 0 1rem;
  font-weight: 700;
  color: white;
  outline: 0;
  cursor: pointer;
  bottom: 20px;
  /* background-color: rgba(56, 255, 20, 0.185);
  border: 1px solid #39FF14;
  box-shadow: inset 0 0 10px rgba(57, 255, 20, 0.5), 0 0 10px rgba(57, 255, 20, 0.5); */
  background-color: rgba(222, 16, 16, 0.589);
  /* border: 1px solid #FF3131;
  box-shadow: inset 0 0 10px rgba(255, 49, 49, 0.7), 0 0 10px rgba(255, 49, 49, 0.7); */
}
.nowplaying-pop-up-green:active{
  /* box-shadow: 0 0 10px rgba(57, 255, 20, 0.5),
  0 0 10px rgba(57, 255, 20, 0.5),
  0 0 10px rgba(57, 255, 20, 0.5);
  color: white; */
  box-shadow: 0 0 10px rgba(255, 49, 49, 0.7),
  0 0 10px rgba(255, 49, 49, 0.7),
  0 0 10px rgba(255, 49, 49, 0.7);
  color: white;
}
.nowplaying-pop-up-green p span{
  color: black;
  font-weight: 800;
}
.nowplaying-pp-text{
  position: absolute;
  top: 10;
  height: 70px;
  width: 320px;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nowplaying-pp-text .text-upper .t1{
  color: red;
  font-weight: 700;
  display: inline-block;
}
.nowplaying-pp-text .text-upper .t2{
  color: white;
  font-weight: 500;
  display: inline-block;
}
.nowplaying-pp-text .text-lower .t1{
  color: white;
  font-weight: 500;
  display: inline-block;
}
.nowplaying-pp-text .text-lower .t2{
  color: white;
  font-weight: 600;
  display: inline-block;
  font-size: 10px;
}
.hidden {
  display: none;
}

.customer-name{
  padding-left: 0.2rem;
}

/* Pop up */