.bandleader-backup-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.bandleader-backup{
    position: absolute;
    width: 50rem;
    height: 30rem;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .bandleader-backup h1{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .bandleader-backup svg{
    display: none;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 170px;
  }
  
.bandleader-backup-buttons{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}
.bandleader-backup-buttons button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 700;
    background-color: #000000;
    color: white;
}
.bandleader-backup-buttons button:hover{
    cursor: pointer;
}