.admin-song-request-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #353935;
}
.admin-song-request-nav-links{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.admin-song-request-nav-links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 10px;
    
    border: 2px solid white;
    border-radius: 20px;
}
.admin-song-request-nav-links a:hover{
    cursor: pointer;
    /* color: wheat; */
    color: black;
    background-color: white;
}
.admin-song-request-nav-logout{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.admin-song-request-nav-logout button{
   width: 100px;
   height: 40px;
   border-radius: 10px;
   outline: none;
   border: none;
   font-weight: 700;
   background-color: #606060;
   color: white;
}
.admin-song-request-nav-logout button:hover{
    cursor: pointer;
}
.admin-song-request-nav-logout button:active{
    background-color: wheat;
    color: black;
}